#success{
    margin-top: 20px;
    padding-bottom: 10px;
      box-shadow: 10px 10px 10px 10px rgba(35, 75, 255, 0.83);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #failed{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
      box-shadow: 10px 10px 10px 10px rgba(167, 15, 15, 0.83);
    transition: 0.3s;
    border-radius: 10px;
    
  }